In [2]:
print("Achive")

Achive

In [1]:
print("achive")

achive

In [3]:
1==2

False

In [4]:
1>0.5

True

'madmax'=='madmax'

In [5]:
a=10
b=20
if a>b:
    print("A")
else:
    print("r")

r

In [9]:
a=20
b=30
if(a > b & a>5):
    print("A")
else:
    print("B")

B

In [17]:
a=False
if a:
    print('T')
else:
    print('F')

F

In [18]:
a=False
b=True

if a:
    print('T')
elif b:
    print('F')
else:
    print('n')

F

In [20]:
a="madmax"
if a=="mad":
    print("A")
elif a=="max":
    print("B")
else:
    print("C")

C

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
a=[1,2,23,4,54,56]

In [25]:
for i in a:
    print(i)

1
2
23
4
54
56

In [33]:
for i in range(5):
    for j in range(i):
        print("*" ,end=" ")
    print("\n")

*

* *

* * *

* * * *

In [35]:
for i in range(20):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18

In [39]:
r=0
for i in range(11):
    r=r+i
print(r)

55

In [38]:
s=0
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    s=s+i
print(s)

55

In [7]:

i=0
while i<20:
    print(f"i is now {i}")
    i+=1

i is now 0
i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9
i is now 10
i is now 11
i is now 12
i is now 13
i is now 14
i is now 15
i is now 16
i is now 17
i is now 18
i is now 19

In [1]:
1+2

3

In [1]:
i=0
while i<20:
    print(f"i is now {i}")
    i+=1
    if(i>15):
        break
    else:
        continue

i is now 0
i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9
i is now 10
i is now 11
i is now 12
i is now 13
i is now 14
i is now 15

In [2]:
range(0,1)

range(0, 1)

In [4]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [13]:
'add' in ['a','b','c','add']

True

In [14]:
ml=[10,32,12,1,2,3,4,23]

In [15]:
max(ml)

32

In [16]:
min(ml)

1

In [18]:
ml

[1, 2, 3, 4, 10, 12, 23, 32]

In [19]:
from random import shuffle

In [20]:
shuffle(ml)

In [22]:
print(ml)

[3, 2, 4, 32, 23, 12, 10, 1]

In [23]:
input("Wats ua name?")

Wats ua name?tharun

'tharun'

In [24]:
a=2
b=2.0

In [25]:
type(a)==type(b)

False

In [29]:
shuffle(ml)

In [30]:
ml

[10, 1, 2, 12, 23, 4, 3, 32]

#add of 2 no's

In [31]:
a=int(input())
b=int(input())
c=a+b
print(c)

1
2
3

In [38]:
a=int(input())
f=1
i=1
#for i in range(1,a+1):
while i<=a:
    f=f*i
    i+=1
print(f)

5
120

In [43]:
b=int(input("enter no"))
if b%2==0:
    print("even")
else:
    print("odd")

enter no5
odd

In [45]:
b=int(input("enter no  "))
if b>0:
    print("pos")
elif b<0:
    print("Neg")
else:
    print("zero")

enter no  123654987
pos

In [51]:
a=int(input())
b=int(input())
c=int(input())
if a>b & a>c:
    print("a")
elif b>c:
    print("b")
else:
    print("C")

1
2
3
C

In [52]:
max(a,b,c)

3

In [53]:
a=list(range(1,20))

In [54]:
shuffle(a)

In [55]:
a

[18, 17, 9, 7, 11, 10, 1, 2, 13, 6, 5, 15, 8, 4, 19, 16, 14, 3, 12]

In [62]:
a.append(3)

In [63]:
a.append(3)

In [64]:
a

[18, 17, 9, 7, 11, 10, 1, 2, 13, 6, 5, 15, 8, 4, 19, 16, 14, 3, 12, 3, 3, 3]

In [65]:
a.count(3)

4

In [68]:
a.sort()

In [69]:
a

[1, 2, 3, 3, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [71]:
a

[1, 2, 3, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [72]:
a.pop()

19

In [77]:
def bc():
    print("hello")

In [74]:
bc()

hello

In [78]:
a=int(input())
b=int(input())
ac
def ac(a1,a2):
    return a1+a2

In [79]:
ac(1,4)

5

In [80]:
def ac(a1,a2):
    print a1+a2

In [83]:
a=int(input())
b=int(input())
ac(a,b)

1
2

3

In [108]:
def prime(a1):
    i=0
    for n in range(2,a1):
        if a1%n==0:
            print("!prime")
            break
        else:
            i+=1
    if(i>0):
        print("prime")

In [111]:
prime(103)

prime